**1**. You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in **list 1** -- [Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha]. **List 2** contains the names of -- [Ali, Mukesh, Mahesh, Jacob, Sai, Sarita]. Please write a program which helps to identify people who are common in both lists. **Please do not use any in-built function**.

In [ ]:
list1 = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob" , "Saritha"] 
list2 = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]

def common_name(list1,list2):                                                    # Defining the function              
  result = [name for name in list1 if name in list2]                             # Finding the common names from the 2 lists
  return result                                                                  # Returning the output

In [ ]:
common_name(["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob" , "Saritha"] ,["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"])

['Mahesh', 'Ali', 'Jacob']

In [ ]:
common_name(list2,list1)

['Ali', 'Mahesh', 'Jacob']

**2**.While entering data, someone entered a few names as a common string **“Ramesh Suresh Mohit”**. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age.

 

Ramesh :  25

Suresh : 22

Mohit : 26

In [ ]:
string = "Ramesh Suresh Mohit"                                                   # Given string of names
age = [25, 22,26]                                                                # Ages of the person


def convert_into_list(string):                                                   # Defining the function
  result = list(string.split())                                                  # Spliting the string and put the words in list
  final = []                                                                     # Empty list
  for i in range(len(result)):                                                   # Writing the condition
    final += [result[i] + ":" + str(age[i])]                                     # Adding the age of the person to the list of names

  return result,final                                                            # Returning the output

In [ ]:
convert_into_list("Ramesh Suresh Mohit")

(['Ramesh', 'Suresh', 'Mohit'], ['Ramesh:25', 'Suresh:22', 'Mohit:26'])

**3**. A few students from a university have taken three exams

  Name = Sam, Jacy, Tom, Steve

  Python = 25, 26, 29, 28

  Statistics = 23, 21, 19, 25

  SQL = 29, 27, 28, 25

 

Please write a program which calculates mean values **(no in-built function for mean)** of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.

In [ ]:
Name = ["Sam", "Jacy", "Tom", "Steve"]                                           # Given list of student names

Python = [25, 26, 29, 28]                                                        # Python marks of each student
Statistics = [23, 21, 19, 25]                                                    # Statistics marks of each student
SQL = [29, 27, 28, 25]                                                           # Sql marks of each student

# calculating average of python

sum1 = 0
n1 = 0
for i in Python:
  sum1 += i
  n1 += 1
average_python = sum1 / n1

# calculating average of statistics

sum2 = 0
n2 = 0
for j in Statistics:
  sum2 += j
  n2 += 1
average_statistics = sum2 / n2

# calculating the average of SQL

sum3 = 0
n3 = 0
for x in SQL:
  sum3 += x
  n3 += 1
average_sql = sum3 / n3

print("The highest mean among all the 3 tests:",max(average_python,average_statistics,average_sql))

The highest mean among all the 3 tests: 27.25

In [ ]:
from statistics import mean                                                      # Importing the mean
Name = ["Sam", "Jacy", "Tom", "Steve"]                                           # Given list of student names
Python = [25, 26, 29, 28]                                                        # Python marks of each student
Statistics = [23, 21, 19, 25]                                                    # Statistics marks of each student
SQL = [29, 27, 28, 25]                                                           # Sql marks of each student

PY = avg_python = mean(Python)                                                   # Average of python
ST = avg_statistics = mean(Statistics)                                           # Average of statistics
SQL = avg_sql = mean(SQL)                                                        # Average of SQL

def maximum(PY,ST,SQL):                                                          # Defining the function
  if (PY >= ST) and (PY >= SQL):                                                 # Checking the condition which mean is highest
    highest  = PY                                                                # If above condition is true return the value
  elif (ST >= PY) and (ST >= SQL):                                               # Checking the condition which mean is highest
    highest = ST                                                                 # If above condition is true return the value
  else:
    highest = SQL
  return highest                                                                 # Returning the highest mean
    
print("the highest mean:",maximum(PY,ST,SQL))                                    # Highest mean from the 3 subjects

the highest mean: 27.25

In [ ]:
Name = ["Sam", "Jacy", "Tom", "Steve"]                                           # Given list of student names
Python = [25, 26, 29, 28]                                                        # Python marks of each student

print("Original key list is : " + str(Name))                                     # Printing the key list i.e student names
print("Original value list is : " + str(Python))                                 # Printing the value list i.e python marks

result = {Name[i]: Python[i] for i in range(len(Name))}                          # Adding the both name and marks lists to dictionary
print("Resultant dictionary is : " + str(result))                                # Printing the final dictionary

highest = max(result.values())                                                   # Finding the maximum value from the marks
n = [i for i, j in result.items() if j == highest]                               # Checking the condition
str1 = ''.join(n)                                                               
print("The student got the highest marks in python:",str1)                       # Printing the name of the student who get highest marks in python

Original key list is : ['Sam', 'Jacy', 'Tom', 'Steve']
Original value list is : [25, 26, 29, 28]
Resultant dictionary is : {'Sam': 25, 'Jacy': 26, 'Tom': 29, 'Steve': 28}
The student got the highest marks in python: Tom

**4**.You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs **35**, one strip of azithromycin costs Rs **49** and one strip of vitamin c costs Rs. **33**. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?

In [ ]:
n = 2000
P = cost_onestrip_paracetamol = 35
A = cost_onestrip_azithromycin = 49
V = cost_onestrip_vitamin_c = 33

def patient_refund(num1,num2,num3,P,A,V):                                        # Defining the function
  cost_par = num1 * P                                                            # Finding the cost of 2 strips of paracetamol
  cost_az = num2 * A                                                             # Finding the cost of 3 strrips of azithromycin
  cost_vit = num3 * V                                                            # Finding the cost of 5 strips of vitamin C
  total_cost = cost_par + cost_az + cost_vit                                     # Finding the total cost he paid
  total_refund = n - total_cost                                                  # Finding the total refund amount he get back from 2000
  return (cost_par,cost_az,cost_vit,total_cost,total_refund)                     # Returning the output

In [ ]:
patient_refund(2,3,5,35,49,33)

(70, 147, 165, 382, 1618)

In [ ]:
patient_refund(5,3,4,35,49,33)

(175, 147, 132, 454, 1546)

**5**.Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. **This function should be applicable for all other different sentences**.

In [ ]:
def find_vowels(string):                                                         # Defining the function
  
  count = 0                                                                      # Setting the count = 0
  vowels_low = set("aeiou")                                                      # Lower case vowels are taking as set
  vowels_up = set("AEIOU")                                                       # Upper case vowels are taking as set
  for char in string:                                                            # Writing the condition
    if char in vowels_low:                                                       # Checking the character in lower-case-vowels
      count += 1                                                                 # If the character is present increase the COUNT
    elif char in vowels_up:                                                      # Checking the character in upper-case-vowels
      count += 1                                                                 # If the character is present increase the COUNT
    else:
      pass                                                                       # Else pass the condition
  return count                                                                   # Returning the final count of vowels

In [ ]:
find_vowels("i am learning python")

6

In [ ]:
find_vowels("love gOd love people makE a dIfference And be thankfUl")

19

In [ ]:
find_vowels("java script85")

3

**6**.You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to -- **return after X number of years**. Eligibility criteria for voting is 18 years.

 

For example : **If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.  **

In [ ]:
def eligible_for_vote(age):                                                      # Defining the function
  count = 0                                                                      # Setting the count to 0
  if age >= 18:                                                                  # Checking the condition
    print("Congrats!You are eligible.")                                          # If the condition is correct print the statement
  else:                                                                          # Checking the condition
    count = 18 - age                                                             # Checking the count for eligibility criteria
    
    print("Return after",count,"years")                                          # If the condition is correct print the statement

In [ ]:
eligible_for_vote(18)

Congrats!You are eligible.

In [ ]:
eligible_for_vote(10)

Return after 8 years